@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  html {
    color-scheme: dark;

    background-color: theme('backgroundColor.base');
    color: theme('textColor.base');

    @apply antialiased;
  }
}
